@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-Outfit: var(--font-outfit), sans-serif;
  --font-Ovo: var(--font-ovo), serif;

  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  --animate-blink: blink 1s step-end infinite;
  @keyframes blink {
    50% { opacity: 0; }
  }

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}
